
/* header section start */
.header-section {
    background-image: url("../img/banner.png");
    height: auto;
     background-repeat: no-repeat; 
 }
 .header-bg{
 width: 100%;
 float: left;
 height: auto;
 background-size: 100%;
 }
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar {
    padding: 0px 0px 20px 0px;
}
 .bg-light {
    background-color: transparent !important;
} 
.navbar-brand {
    color: rgba(0, 0, 0, .9);

    margin: 10px;
     float: right; 
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
     margin-right: 5rem; 
    font-size: 1.25rem;
   line-height: inherit;
    white-space: nowrap;
   
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}
li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.navbar-nav .active > .nav-link{
    width: 100px;
    text-align: center;
    color: #fefefd;
    background-color: #f01c1c;
}
.nav-link {
    padding: 30px 20px 10px 20px;
    font-size: 17px;
    color: #fefefd;
    text-transform: uppercase;
    margin: 0px 5px;
}
.nav-link:hover{
    background-color: #f01c1c;
    color: #fefefd;
    transition: .3s all;
}
.login_bt {
    width: 210px;
    margin-top: 28px;
}
.login_bt ul {
    margin: 0px;
    padding: 0px;
}
.login_bt li a {
    float: left;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out ;
}
.login_bt li a :hover{
    background-color: #f01c1c;
    transition: all .3s ease-in-out ;
}
.user_icon {
    padding-right: 15px
}
/* header section end */

/* coffee section start */
.coffee-section{
    width: 100%;
    float: left;
    text-align: center;
    padding: 4rem;
}
.coffee-title {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #252525;
    text-transform: uppercase;
    text-align: center;
    font-weight:bold;
    
}
.coffee-section-2{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.coffee-box {
    width: 100%;
    float: left;
    background-color: #242c2f;
    height: auto;
    padding: 20px 20px;
}
.coffee-box:hover {
    background-color: #f01c1c;
    transition: .4s all ease-in-out;
}
.types-text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #fefefd;
    text-align: center;
    font-weight: bold;
}
.looking-text {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fefefd;
    text-align: center;
    margin: 0px;
}
.read-bt {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}
.read-bt a{
    text-decoration: none;
    list-style: none;
    border: 1px solid #fefefe;
    color: #fefefe;
    padding: 10px 25px;  
    font-size: 16px;
     margin-bottom: 5px; 
   
}
img{
    max-width: 100%;
    height: auto;
    border-style: none; 
}
#main-slider button.carousel-control-prev{
    left: -10px;
    top: 170px;
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #fefefd;
    background-color: #4a4949;

}
#main-slider button.carousel-control-next{
    left: -10px;
    top: 170px;
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #fefefd;
    background-color: #4a4949;

}
/* coffee section end */

/* footer section start */
.footer-section{
    width: 100%;
    float: left;
    height: auto;
    background-color: #1d1d1d;
    background-size: 100%;
    padding: 50px 0;
}
.footer-social-section{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.footer-social-icon li a {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
    color: #1d1d1d;
    border-radius: 100%;
    font-size: 19px;
    margin-right: 10px;
    width: 44px;
    text-align: center;
    margin-top: 10px;
}
.footer-social-icon li a:hover{
    color: #f01c1c;
    transition: .5s;
}
#we{
    padding-left: 350px;
    text-align: center;
}
.location-text{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.location-text ul {
    margin-right: 10px; 
    display: flex;
}

.location-text li a {
    text-decoration: none;
    color: #ffffff;
}
#ppo{
    padding-left: 300px;
    margin: 10px;
    font-size: 16px;
}
#ppo1{
    padding-left: 20px;
    margin: 10px;
    font-size: 16px;
}
.form-group{
    display: flex;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
}
.update-mail{
    color: #383838;
    width: 100%;
    height: 55px;
    font-size: 18px;
    padding: 10px 20px 0px 20px;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border: 1px solid #f01c1c;
    outline: none;
}
.subscriab-bt{
    width: 70px;
    float: left;
    padding-top: 20px;
}
.subscriab-bt a{
    width: 100%;
    float: left;
    color: #fefefd;
    font-size: 16px;
    padding: 13px 0 14px 0;
    background-color: #f01c1c;
    text-transform: uppercase;
    text-align: center;
}
/* footer section end */

/* copyright section start */
.copyright-section{
    width: 100%;
    float: left;
    background-color: #f01c1c;
    height: auto;
}
.copyright-text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    text-align: center;
    font-family: 'poppins', sans-serif;
}
p{
    margin: 20px;
    font-weight: 300;
    line-height: 24px;
}
.copyright-text a{
    text-decoration: none !important;
    color: #fefefd;
}
.copyright-text a:hover{
    color: #1d1d1d;
}
/* copyright section end */